{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="tile_count">
                <div class="col-md-3  tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Total Staff</span>
                    <div class="count">{{ total_staff }}</div>
                    <span class="count_bottom"><i class="green">4% </i> From last Week</span>
                </div>
                <div class="col-md-3 tile_stats_count">
                    <span class="count_top"><i class="fa fa-paw"></i> Total Cow</span>
                    <div class="count green">{{ no_of_cows }}</div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
                </div>
                <div class="col-md-3  tile_stats_count">
                    <span class="count_top"><i class="fa fa-filter"></i> Total Collected Milk</span>
                    <div class="count">{{ total_milk }}</div>
                    <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
                </div>
                <div class="col-md-3  tile_stats_count">
                    <span class="count_top"><i class="fa fa-filter"></i> Total Sold Milk</span>
                    <div class="count">{{ total_sold_milk }}</div>
                    <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="chartContainer" style="height: 390px; width: 100%;"></div>
        </div>
    </div>
</div>
<!-- /page content -->

{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
    $(document).ready(function() {
        $.ajax({
            url: '{% url "total_milk_data" %}',
            method: 'GET',
            success: function(data) {
                console.log(data);  // Check the received data in browser console
                
                var totalMilkCollected = data.total_milk_collected;
                var monthlySalesData = data.monthly_sales_data;

                var dataPoints = monthlySalesData.map(function(record) {
                    return { y: record.total_sold, label: record.month };
                });

                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    title: {
                        text: "Monthly Sale"
                    },
                    data: [{
                        type: "line",
                        startAngle: 1000,
                        yValueFormatString: "",
                        indexLabel: "{label} {y}",
                        dataPoints: dataPoints
                    }]
                });
                chart.render();  // Render the chart
            },
            error: function(xhr, status, error) {
                console.error('AJAX Error:', error);  // Log any errors
            }
        });
    });
</script>
